.success-back-color {
  background-color: $color-back-dark;
}

.white-stripes {
  position: relative;
}

.signup-section {
  h2 {
    font-size: 2.5rem;
    letter-spacing: -0.34px;
    line-height: 3rem;
    font-weight: 300;
  }

  .left-signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: $color-text-light;
    min-height: 100vh;
    padding-top: 5rem;

    h1 {
      font-size: 4.2rem;
      line-height: 5rem;
      margin-bottom: 3rem;
    }

    h5 {
      font-size: 1.8rem;
      font-weight: bold;
      line-height: 2.2rem;
    }

    img:nth-child(1) {
      -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
      width: 6.5rem;
      margin-bottom: 3.8rem;
    }
  }

  .right-signup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    h2 {
      margin-bottom: 4.9rem;
    }

    a {
      color: $color-form-link;
    }

    .signup-terms {
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-top: 3rem;
      margin-bottom: 5.5rem;
    }

    button {
      width: 100%;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      border-radius: 30px;
      background-color: #5b4ae2;
      -webkit-box-shadow: -1px 2px 5px 0 rgba(142, 142, 142, 0.5);
      box-shadow: -1px 2px 5px 0 rgba(142, 142, 142, 0.5);
      color: #f8f8f8;
      font-size: 2rem;
      font-weight: 500;
      letter-spacing: -0.27px;
      line-height: 2.4rem;
      border: none;

      &:focus {
        outline: 0;
      }
    }

    .input-box {
      position: relative;

      input {
        font-size: 1.8rem;
        width: 100%;
        margin-top: 3.3rem;
        border-width: 0.1rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-color: $color-form-icon;
        padding-left: 40px;
        color: $color-text-dark;
        -webkit-box-shadow: none;
        box-shadow: none;

        &::-webkit-input-placeholder {
          color: $color-form-icon;
        }

        &:-ms-input-placeholder {
          color: $color-form-icon;
        }

        &::-ms-input-placeholder {
          color: $color-form-icon;
        }

        &::placeholder {
          color: $color-form-icon;
        }

        &:focus {
          border-color: $color-back-dark;

          & + i {
            color: $color-back-dark;
          }

          &:invalid {
            border-color: $color-alert;

            & + i {
              color: $color-alert;
            }
          }
        }
      }

      i {
        font-size: 2rem;
        position: absolute;
        color: $color-form-icon;
        top: 3.5rem;
        left: 0.4rem;
      }

      .validation-alert {
        -ms-flex-item-align: start;
        align-self: start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: $color-alert;
        font-size: 1rem;
        letter-spacing: -0.14px;
        line-height: 1.2rem;
      }

      .floating-label {
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px);
        left: 40px;
        position: absolute;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        color: $color-form-icon;
      }

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        /*IE10+-specific CSS here*/
        .floating-label {
          display: none;
        }
      }

      input:placeholder-shown ~ label {
        opacity: 1;
        visibility: hidden;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
      }
    }
  }

  .signup-success {
    color: $color-text-light;

    .icon-checked {
      font-size: 8.4rem;
    }

    h2 {
      font-size: 2.2rem;
      font-weight: 400;
      letter-spacing: -0.3px;
      line-height: 2.6rem;
      margin-top: 4.3rem;
      margin-bottom: 14rem;

      span {
        display: inline-block;
        font-weight: bold;
        margin-top: 1rem;
      }
    }

    a {
      display: block;
      color: $color-text-light;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 2.6rem;
    }
  }

  .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 5rem;

    color: $color-text-light;
    padding-top: 4rem;
    img {
      width: 3.8rem;
      height: auto;
      margin-bottom: 11.4rem;
    }
    h1 {
      font-size: 5rem;
      font-weight: bold;
      line-height: 6.1rem;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.4rem;
      margin-bottom: 18rem;
    }

    a {
      display: block;
      width: 276px;
      color: #fdfdfd;
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      font-size: 2.2rem;
      font-weight: 500;
      letter-spacing: -0.3px;
      line-height: 2.6rem;
      text-align: center;
      border: 2px solid #fdfdfd;
      border-radius: 4.5rem;
      -webkit-box-shadow: 0 0 6px 0 rgba(142, 142, 142, 0.5);
      box-shadow: 0 0 6px 0 rgba(142, 142, 142, 0.5);
    }
  }
}
