@import url(../fonts/fonts-all/fonts.css);
@import url(../fonts/icon-fonts/icons.css);
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p,
h2,
h3,
h4 {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: "proxima_nova", Arial, sans-serif;
  color: #2F2F41; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

h1 {
  font-weight: bold; }

h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem; }

h4 {
  font-family: "djb_chalk_it_up";
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold; }

h5 {
  font-weight: bold; }

a {
  color: #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }
  a:hover {
    text-decoration: none;
    color: #2F2F41; }

.index-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-block;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 4rem; }
  .index-nav img {
    width: 3.8rem;
    height: auto; }
  .index-nav .reserve-index-btn {
    height: 2.5rem;
    width: 9.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    padding: 0.4rem 2.2rem;
    border-radius: 3.4rem;
    background-color: #2F2F41;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .index-nav .reserve-index-btn:hover {
      color: #2F2F41;
      background-color: #ffffff;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75); }

.twitter-payments {
  padding-top: 3.4rem;
  padding-bottom: 8.1rem; }
  .twitter-payments h2 {
    width: 27.8rem;
    padding-bottom: 1.8rem; }
  .twitter-payments img {
    width: 100%;
    height: auto; }
  .twitter-payments p {
    width: 16.8rem;
    font-size: 1.4rem;
    letter-spacing: 0.1px;
    line-height: 1.8rem; }

.icons-section {
  margin-bottom: 8rem; }
  .icons-section .icons-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
    .icons-section .icons-box img {
      width: 3.2rem;
      height: auto;
      margin-right: 16px; }
    .icons-section .icons-box h3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 1.6rem;
      font-weight: bold; }
    .icons-section .icons-box p {
      font-size: 1.4rem;
      line-height: 1.8rem;
      margin-top: 2rem;
      margin-bottom: 3rem; }

.online-payments {
  margin-bottom: 12.3rem; }
  .online-payments h2 {
    width: 27.8rem;
    margin-bottom: 1.8rem; }
  .online-payments p {
    width: 27.8rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 2.6rem; }
  .online-payments h3 {
    margin-bottom: 1.3rem;
    font-weight: bold; }
  .online-payments img:nth-of-type(1) {
    margin-bottom: 3.1rem; }
  .online-payments .emyapp-checkout {
    width: 13.3rem; }

.pay-coffee {
  margin-bottom: 7.5rem; }
  .pay-coffee h2 {
    width: 27.8rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin-bottom: 1.5rem;
    letter-spacing: -0.18px; }
  .pay-coffee p {
    width: 27.8rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 2.6rem; }
  .pay-coffee span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
  .pay-coffee img {
    width: 100%;
    height: auto; }

.business-solution {
  overflow: hidden;
  margin-bottom: 7.8rem; }
  .business-solution.container {
    padding-right: 0;
    padding-left: 0; }
  .business-solution.col-12 {
    padding-right: 0; }
  .business-solution img {
    width: 100%;
    height: auto; }
  .business-solution h4 {
    text-align: center; }
  .business-solution h2 {
    max-width: 27.7rem;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: -0.18px;
    line-height: 2.3rem;
    text-align: center;
    margin: auto;
    margin-bottom: 2.4rem; }
    .business-solution h2 span {
      display: block; }
  .business-solution .accordion {
    color: #2F2F41; }
    .business-solution .accordion h6 {
      font-size: 1.6rem;
      font-weight: bold;
      line-height: 2rem; }
    .business-solution .accordion .accord-img-wrap {
      position: relative; }
      .business-solution .accordion .accord-img-wrap .accord-text {
        background-color: #ffffff;
        position: absolute;
        padding: 1.2rem 2.1rem 1.3rem 2.1rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .business-solution .accordion .accord-img-wrap .accord-text p:nth-child(2) {
          width: 18.2rem;
          font-size: 1.4rem;
          letter-spacing: -0.19px;
          line-height: 1.7rem;
          margin-top: 1.5rem; }
        .business-solution .accordion .accord-img-wrap .accord-text p:nth-child(3) {
          display: none; }
    .business-solution .accordion .accord-text-phone {
      display: block;
      font-size: 1.2rem;
      width: 28.4rem;
      padding-left: 2.2rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; }
    .business-solution .accordion .accord-close {
      position: relative; }
      .business-solution .accordion .accord-close:hover {
        cursor: pointer; }
      .business-solution .accordion .accord-close h6 {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 5.5rem; }

footer {
  background-color: #5B4AE2;
  padding-top: 7.7rem;
  padding-bottom: 2.3rem; }
  footer h3 {
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 2.5rem; }
  footer .store-icons {
    margin-bottom: 5rem; }
    footer .store-icons img {
      width: 11rem;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      footer .store-icons img:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
        border-radius: 9%; }
  footer .social-icons {
    margin-bottom: 2rem; }
    footer .social-icons img {
      height: 1.7rem;
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out; }
      footer .social-icons img:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3); }
  footer .privacy-terms {
    margin-bottom: 2.3rem;
    font-size: 1.2rem;
    line-height: 1.5rem; }
  footer p {
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.5rem; }

.success-back-color {
  background-color: #5B4AE2; }

.white-stripes {
  position: relative; }

.signup-section h2 {
  font-size: 2.5rem;
  letter-spacing: -0.34px;
  line-height: 3rem;
  font-weight: 300; }
.signup-section .left-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ffffff;
  min-height: 100vh;
  padding-top: 5rem; }
  .signup-section .left-signup h1 {
    font-size: 4.2rem;
    line-height: 5rem;
    margin-bottom: 3rem; }
  .signup-section .left-signup h5 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2rem; }
  .signup-section .left-signup img:nth-child(1) {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
    width: 6.5rem;
    margin-bottom: 3.8rem; }
.signup-section .right-signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .signup-section .right-signup h2 {
    margin-top: 2.3rem; }
  .signup-section .right-signup a {
    color: #6043EB; }
  .signup-section .right-signup .signup-terms {
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-top: 3rem;
    margin-bottom: 5.5rem; }
  .signup-section .right-signup button {
    width: 100%;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-radius: 30px;
    background-color: #5b4ae2;
    -webkit-box-shadow: -1px 2px 5px 0 rgba(142, 142, 142, 0.5);
    box-shadow: -1px 2px 5px 0 rgba(142, 142, 142, 0.5);
    color: #f8f8f8;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.27px;
    line-height: 2.4rem;
    border: none; }
    .signup-section .right-signup button:focus {
      outline: 0; }
  .signup-section .right-signup .input-box {
    position: relative; }
    .signup-section .right-signup .input-box input {
      font-size: 1.8rem;
      width: 100%;
      margin-top: 3.3rem;
      border-width: 0.1rem;
      border-top: none;
      border-left: none;
      border-right: none;
      border-color: #B9B9B9;
      padding-left: 40px;
      color: #2F2F41;
      -webkit-box-shadow: none;
      box-shadow: none; }
      .signup-section .right-signup .input-box input::-webkit-input-placeholder {
        color: #B9B9B9; }
      .signup-section .right-signup .input-box input:-ms-input-placeholder {
        color: #B9B9B9; }
      .signup-section .right-signup .input-box input::-ms-input-placeholder {
        color: #B9B9B9; }
      .signup-section .right-signup .input-box input::placeholder {
        color: #B9B9B9; }
      .signup-section .right-signup .input-box input:focus {
        border-color: #5B4AE2; }
        .signup-section .right-signup .input-box input:focus + i {
          color: #5B4AE2; }
        .signup-section .right-signup .input-box input:focus:invalid {
          border-color: #E14141; }
          .signup-section .right-signup .input-box input:focus:invalid + i {
            color: #E14141; }
    .signup-section .right-signup .input-box i {
      font-size: 2rem;
      position: absolute;
      color: #B9B9B9;
      top: 3.5rem;
      left: 0.4rem; }
    .signup-section .right-signup .input-box .validation-alert {
      -ms-flex-item-align: start;
      align-self: start;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #E14141;
      font-size: 1rem;
      letter-spacing: -0.14px;
      line-height: 1.2rem; }
    .signup-section .right-signup .input-box .floating-label {
      -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      transform: translateY(-40px);
      left: 40px;
      top: 60px;
      position: absolute;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      color: #B9B9B9; }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .signup-section .right-signup .input-box {
        /*IE10+-specific CSS here*/ }
        .signup-section .right-signup .input-box .floating-label {
          display: none; } }
    .signup-section .right-signup .input-box input:placeholder-shown ~ label {
      opacity: 1;
      visibility: hidden;
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      transform: translateY(-20px); }
.signup-section .signup-success {
  color: #ffffff; }
  .signup-section .signup-success .icon-checked {
    font-size: 8.4rem; }
  .signup-section .signup-success h2 {
    font-size: 2.2rem;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 2.6rem;
    margin-top: 4.3rem;
    margin-bottom: 14rem; }
    .signup-section .signup-success h2 span {
      display: inline-block;
      font-weight: bold;
      margin-top: 1rem; }
  .signup-section .signup-success a {
    display: block;
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.6rem; }
.signup-section .welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 5rem;
  color: #ffffff;
  padding-top: 4rem; }
  .signup-section .welcome img {
    width: 3.8rem;
    height: auto;
    margin-bottom: 11.4rem; }
  .signup-section .welcome h1 {
    font-size: 5rem;
    font-weight: bold;
    line-height: 6.1rem;
    margin-bottom: 1rem; }
  .signup-section .welcome h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.4rem;
    margin-bottom: 18rem; }
  .signup-section .welcome a {
    display: block;
    width: 276px;
    color: #fdfdfd;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 2.6rem;
    text-align: center;
    border: 2px solid #fdfdfd;
    border-radius: 4.5rem;
    -webkit-box-shadow: 0 0 6px 0 rgba(142, 142, 142, 0.5);
    box-shadow: 0 0 6px 0 rgba(142, 142, 142, 0.5); }

.background-color-dark {
  background-color: #5B4AE2; }

.full-screen {
  min-height: 100vh; }

.screens + .screens {
  margin-top: -5rem; }
.screens .screen-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ffffff;
  padding-bottom: 10rem; }
  .screens .screen-1 h2 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.6rem;
    margin-top: 10.5rem; }
  .screens .screen-1 h3 {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 1.3rem; }
  .screens .screen-1 p {
    font-size: 1.6rem;
    letter-spacing: -0.22px;
    line-height: 2.2rem;
    margin-top: 12rem; }
    .screens .screen-1 p span {
      font-weight: 500; }
  .screens .screen-1 .yourhandle {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 44px;
    width: 90%;
    /* fallback */
    width: calc(100% - 5rem);
    border: 1px solid #ffffff;
    border-radius: 1.2rem;
    margin-top: 6rem; }
    .screens .screen-1 .yourhandle label {
      font-size: 2.6rem;
      font-weight: 500;
      line-height: 4.3rem;
      padding-left: 2rem;
      position: relative; }
      .screens .screen-1 .yourhandle label:after {
        content: "";
        display: none;
        position: absolute;
        top: 20%;
        right: -1rem;
        height: 2.5rem;
        width: 0.05rem;
        background-color: #ffffff; }
    .screens .screen-1 .yourhandle input {
      margin-left: 2.5rem;
      color: #ffffff;
      background-color: transparent;
      width: 55%;
      border: none;
      font-size: 2.4rem; }
    .screens .screen-1 .yourhandle ::-webkit-input-placeholder {
      color: #ffffff;
      opacity: 0.1; }
    .screens .screen-1 .yourhandle ::-moz-placeholder {
      color: #ffffff;
      opacity: 0.1; }
    .screens .screen-1 .yourhandle :-ms-input-placeholder {
      color: #ffffff;
      opacity: 0.1; }
    .screens .screen-1 .yourhandle :-moz-placeholder {
      color: #ffffff;
      opacity: 0.1; }
  .screens .screen-1 #reserve-btn {
    position: absolute;
    right: -3rem;
    top: 24%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 22px;
    width: 70px;
    border-radius: 34px;
    background-color: #2F2F41;
    opacity: 1 !important;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .screens .screen-1 #reserve-btn:hover {
      color: #2F2F41;
      background-color: #ffffff; }
    .screens .screen-1 #reserve-btn i {
      font-size: 5px;
      padding-left: 5px; }
.screens .screen-2 {
  color: #ffffff;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .screens .screen-2 h2 {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.4rem;
    max-width: 31rem; }
  .screens .screen-2 p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 5rem; }
  .screens .screen-2 img {
    width: 100%;
    height: auto; }
  .screens .screen-2 .number-small {
    font-size: 5.5rem;
    font-weight: 400;
    line-height: 4.8rem;
    margin-right: 2.7rem; }
  .screens .screen-2 .number-large {
    font-size: 10rem;
    font-weight: 400;
    line-height: 9.8rem;
    margin-right: 5rem;
    display: none; }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h2 {
    font-size: 3.6rem; }

  .twitter-payments {
    padding-top: 5.4rem;
    padding-bottom: 10.4rem; }
    .twitter-payments h2 {
      width: 24.1rem;
      line-height: 3.6rem;
      padding-bottom: 2.2rem; }
    .twitter-payments p {
      width: 24.1rem;
      line-height: 1.9rem; }
    .twitter-payments img {
      position: absolute;
      bottom: 2rem;
      left: -11%; }

  .online-payments {
    margin-bottom: 12.3rem; }
    .online-payments h2 {
      line-height: 3.8rem;
      margin-bottom: 1.5rem;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .online-payments p {
      line-height: 3.1rem;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .online-payments h3 {
      font-size: 2.1rem;
      line-height: 2.5rem; }

  .business-solution {
    margin-bottom: 13.5rem; }
    .business-solution.container {
      padding-right: 15px;
      padding-left: 15px; }
    .business-solution.col-12 {
      padding-right: 15px; }
    .business-solution h2 span {
      display: initial; }
    .business-solution .accordion h6 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 3.7rem; }
    .business-solution .accordion .accord-img-wrap {
      position: relative; }
      .business-solution .accordion .accord-img-wrap .accord-text {
        background-color: #ffffff;
        position: absolute;
        padding: 2.5rem 5.6rem 4.2rem 2rem;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        .business-solution .accordion .accord-img-wrap .accord-text p:nth-child(2) {
          width: 31.2rem;
          font-size: 1.8rem;
          letter-spacing: -0.25px;
          line-height: 2.2rem;
          margin-top: 2.4rem; }
        .business-solution .accordion .accord-img-wrap .accord-text p:nth-child(3) {
          display: block;
          width: 31.2rem;
          font-size: 1.2rem;
          margin-top: 2rem; }
    .business-solution .accordion .accord-text-phone {
      display: none; }
    .business-solution .accordion .accord-close {
      position: relative; }
      .business-solution .accordion .accord-close h6 {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 5.5rem; }

  footer {
    padding-top: 13.2rem;
    padding-bottom: 4rem; }
    footer h3 {
      font-size: 4.2rem;
      line-height: 5rem;
      margin-bottom: 2.7rem; }
    footer .store-icons {
      margin-bottom: 7rem; }
      footer .store-icons img {
        width: 12.5rem; }
    footer .social-icons {
      margin-bottom: 3rem; }
      footer .social-icons img {
        height: 1.9rem; }
    footer .privacy-terms {
      margin-bottom: 3rem;
      font-size: 1.6rem;
      line-height: 2rem; }
    footer p {
      font-size: 1.8rem;
      line-height: 2.2rem; } }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h4 {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
    text-align: left; }

  .success-back-color {
    background-color: #ffffff; }

  .white-stripes {
    background: -webkit-gradient(linear, right top, left top, color-stop(60%, #ffffff), color-stop(40%, #5B4AE2));
    background: -webkit-linear-gradient(right, #ffffff 60%, #5B4AE2 40%);
    background: -o-linear-gradient(right, #ffffff 60%, #5B4AE2 40%);
    background: -webkit-gradient(linear, right top, left top, color-stop(60%, #ffffff), color-stop(40%, #5B4AE2));
    background: linear-gradient(to left, #ffffff 60%, #5B4AE2 40%); }

  .index-nav img {
    width: 6.5rem; }
  .index-nav #login-btn {
      background-color: white;
      color: dodgerblue;
      width: 11rem;
  }
  .index-nav .reserve-index-btn {
    height: 2.9rem;
    width: 9.7rem;
    float: right;
    font-weight: 500;
    margin-left: 10px;
    padding: 0.6rem 2.3rem;
    border-radius: 3.4rem;
    background-color: #2F2F41; }
    .index-nav .reserve-index-btn:hover {
      color: #2F2F41;
      background-color: #ffffff; }

  .slides-section {
    padding-top: 4rem;
    padding-bottom: 11rem;
    overflow: hidden; }

  .twitter-payments img {
    bottom: -7rem; }

  .icons-section {
    margin-bottom: 14.7rem; }
    .icons-section .icons-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }
      .icons-section .icons-box img {
        height: 50px;
        margin-bottom: 2.5rem; }
      .icons-section .icons-box h3 {
        font-size: 2rem;
        line-height: 2.4rem; }
      .icons-section .icons-box p {
        line-height: 1.9rem; }

  .online-payments h2 {
    width: 30.3rem; }
  .online-payments p {
    width: 30.3rem; }

  .pay-coffee {
    margin-bottom: 13rem; }
    .pay-coffee p {
      font-size: 1.4rem;
      line-height: 1.7rem;
      text-align: left; }
    .pay-coffee h2 {
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: -0.3px;
      line-height: 3rem;
      text-align: left; }
    .pay-coffee span {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start; }

  .business-solution h2 {
    max-width: 50rem;
    font-size: 3rem;
    letter-spacing: -0.3px;
    line-height: 3rem; }

  .signup-section .right-signup h2 {
    text-align: left; }
  .signup-section .signup-success {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .signup-section .signup-success .icon-checked {
      font-size: 9.6rem;
      color: #5B4AE2; }
    .signup-section .signup-success .icon-arrow {
      color: #5B4AE2; }
    .signup-section .signup-success h2 {
      color: #5B4AE2;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: -2.07px;
      line-height: 3.6rem;
      margin-top: 4.3rem;
      margin-bottom: 8rem; }
    .signup-section .signup-success a {
      color: #2F2F41;
      line-height: 2.4rem;
      text-align: left; }
      .signup-section .signup-success a:hover {
        color: #5B4AE2;
        cursor: pointer; }

  .screens + .screens {
    margin-top: 7rem; }
  .screens h5 {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding-top: 5.2rem; }
  .screens .screen-1 {
    padding-bottom: 16rem; }
    .screens .screen-1 h2 {
      position: relative;
      font-size: 3rem;
      line-height: 3.6rem;
      margin-top: 12.8rem; }
    .screens .screen-1 h3 {
      font-size: 1.4rem;
      line-height: 1.7rem;
      margin-top: 1.5rem; }
    .screens .screen-1 p {
      font-size: 2rem;
      line-height: 4.8rem;
      margin-top: 7.9rem; }
    .screens .screen-1 .yourhandle {
      height: 8.9rem;
      max-width: 58.3rem;
      margin-top: 6rem;
      border-radius: 1.2rem; }
      .screens .screen-1 .yourhandle label {
        font-size: 4.5rem;
        font-weight: 500;
        line-height: 8.9rem;
        padding-left: 3rem; }
        .screens .screen-1 .yourhandle label:after {
          display: none;
          content: "";
          position: absolute;
          top: 25%;
          right: -1.5rem;
          height: 4.7rem;
          width: 0.1rem; }
      .screens .screen-1 .yourhandle input {
        margin-left: 2.5rem;
        width: 65%;
        font-size: 5rem;
        line-height: 6.1rem;
        letter-spacing: -3.45px;
        font-weight: 300; }
    .screens .screen-1 #reserve-btn {
      right: -5rem;
      top: 14%;
      height: 4.5rem;
      width: 14.8rem;
      font-size: 1.6rem;
      font-weight: 500;
      line-height: 4.5rem;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      border: 1rem solid #5B4AE2; }
      .screens .screen-1 #reserve-btn i {
        font-size: 1.1rem;
        padding-left: 0.7rem; }
  .screens .screen-2 {
    padding-top: 0; }
    .screens .screen-2 img {
      transform: scale(1.4) translateY(4rem) translateX(-1rem); }
    .screens .screen-2 .left-img {
      transform: scale(1.4) translateY(4rem) translateX(1rem); }
    .screens .screen-2 h2 {
      max-width: 29rem;
      font-size: 3rem;
      line-height: 3.6rem; }
      .screens .screen-2 h2:before {
        left: -5.5rem; }
    .screens .screen-2 p {
      max-width: 33.2rem;
      margin-top: 4rem;
      font-size: 2rem;
      letter-spacing: 0.45px;
      line-height: 2.5rem; }
    .screens .screen-2 .text-box {
      margin-top: 4%; }
    .screens .screen-2 .number-large {
      font-size: 8rem;
      line-height: 7.8rem;
      margin-right: 2.6rem;
      display: block; }
    .screens .screen-2 .number-small {
      display: none; } }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  h2 {
    font-size: 5.6rem; }

  .screens + .screens {
    margin-top: 19rem; }
  .screens:nth-child(2) img {
    -webkit-transform: translateX(-10rem);
    -ms-transform: translateX(-10rem);
    transform: translateX(-10rem); }
  .screens .screen-1 h2 {
    font-size: 3.5rem;
    line-height: 6.8rem;
    margin-top: 13.6rem; }
    .screens .screen-1 h2:before {
      height: 0.6rem;
      width: 17.1rem;
      left: -25rem; }
  .screens .screen-1 h3 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-top: 1rem; }
  .screens .screen-1 p {
    font-size: 2.5rem;
    letter-spacing: -0.34px;
    margin-top: 14.6rem; }
  .screens .screen-1 .yourhandle {
    height: 13.3rem;
    max-width: 100%;
    margin-top: 12.5rem; }
    .screens .screen-1 .yourhandle label {
      font-size: 6.8rem;
      font-weight: 500;
      line-height: 13.3rem;
      padding-left: 4.8rem; }
      .screens .screen-1 .yourhandle label:after {
          display: none;
          content: "";
        position: absolute;
        top: 25%;
        right: -2.6rem;
        height: 7.4rem;
        width: 0.1rem; }
    .screens .screen-1 .yourhandle input {
      margin-left: 5.5rem;
      width: 65%;
      font-size: 9rem;
      line-height: 13.3rem;
      letter-spacing: -6.21px;
      font-weight: 300; }
  .screens .screen-1 #reserve-btn {
    right: -5rem;
    top: 14%;
    height: 5.9rem;
    width: 19.4rem;
    font-size: 2.2rem;
    line-height: 5.9rem;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1.9rem solid #5B4AE2;
    border-radius: 5.4rem; }
    .screens .screen-1 #reserve-btn i {
      font-size: 1.6rem;
      padding-left: 1.4rem; }
  .screens .screen-2 {
    padding-top: 0; }
    .screens .screen-2 img {
      transform: scale(1.5) translateY(6.8rem) translateX(2rem); }
    .screens .screen-2 .left-img {
      transform: scale(1.5) translateY(6.8rem) translateX(-2rem); }
    .screens .screen-2 h2 {
      max-width: 36.5rem;
      font-size: 4rem;
      line-height: 4.8rem; }
    .screens .screen-2 p {
      max-width: 35.1rem;
      margin-top: 5rem;
      font-size: 2.2rem;
      letter-spacing: 0.5px;
      line-height: 2.7rem; }
    .screens .screen-2 .number-large {
      font-size: 13rem;
      line-height: 9.9rem;
      margin-right: 3.6rem; }

  .slides-section {
    padding-bottom: 18rem; }

  .twitter-payments {
    padding-bottom: 27rem; }
    .twitter-payments h2 {
      width: 38rem;
      line-height: 5.8rem; }
    .twitter-payments p {
      width: 38rem;
      font-size: 1.5rem;
      line-height: 2.2rem; }
    .twitter-payments img {
      bottom: -23rem;
      left: -22%; }

  .icons-section {
    margin-bottom: 14.7rem; }
    .icons-section .icons-box h3 {
      font-size: 2.1rem;
      line-height: 2.5rem; }
    .icons-section .icons-box p {
      font-size: 1.5rem;
      line-height: 2.2rem; }

  .online-payments {
    margin-bottom: 8rem; }
    .online-payments h2 {
      font-size: 5.5rem;
      line-height: 5.5rem;
      width: 43rem;
      margin-bottom: 2rem; }
    .online-payments p {
      font-size: 1.5rem;
      line-height: 2.2rem;
      width: 43rem; }
    .online-payments h3 {
      font-size: 2.1rem;
      line-height: 2.5rem; }
    .online-payments .emyapp-checkout {
      width: 15.5rem; }

  .business-solution {
    margin-bottom: 19.5rem; }
    .business-solution h2 {
      max-width: 70rem;
      font-size: 4rem;
      letter-spacing: -0.4px;
      line-height: 4rem; }
    .business-solution .accordion {
      color: #2F2F41; }
      .business-solution .accordion h6 {
        font-size: 3rem;
        font-weight: bold;
        line-height: 3.7rem; }
      .business-solution .accordion .accord-img-wrap {
        position: relative; }
        .business-solution .accordion .accord-img-wrap .accord-text {
          background-color: #ffffff;
          position: absolute;
          padding: 3.5rem 3rem 4rem 5.5rem;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          .business-solution .accordion .accord-img-wrap .accord-text p:nth-child(2) {
            width: 32rem;
            font-size: 2.1rem;
            letter-spacing: -0.29px;
            line-height: 2.5rem;
            margin-top: 2.5rem; }
          .business-solution .accordion .accord-img-wrap .accord-text p:nth-child(3) {
            width: 34.3rem;
            font-size: 1.5rem;
            margin-top: 2.5rem; }
      .business-solution .accordion .accord-close {
        position: relative; }
        .business-solution .accordion .accord-close h6 {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          left: 5.5rem; }

  footer {
    padding-top: 19.8rem;
    padding-bottom: 2.6rem; }
    footer h3 {
      font-size: 5.2rem;
      line-height: 6.2rem;
      margin-bottom: 4.8rem; }
    footer .store-icons {
      margin-bottom: 10.9rem; }
      footer .store-icons img {
        width: 15.5rem; }
    footer .social-icons {
      margin-bottom: 4rem; }
      footer .social-icons img {
        height: 2.2rem; }
    footer .privacy-terms {
      margin-bottom: 4rem;
      font-size: 2rem;
      line-height: 2.4rem; }
    footer p {
      font-size: 1.8rem;
      line-height: 2.2rem; } }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  h4 {
    font-size: 3rem;
    line-height: 4.18rem;
    margin-bottom: 2.5rem; }

  .twitter-payments {
    padding-bottom: 36rem; }
    .twitter-payments img {
      bottom: -34rem; }

  .pay-coffee h2 {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: -0.35px;
    line-height: 3.7rem; }
  .pay-coffee p {
    font-size: 1.8rem;
    line-height: 2.2rem; } }
/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1440px) {
  .index-nav img {
    width: 6rem; }
  .index-nav h5 {
    font-size: 2rem;
    line-height: 2.4rem; }
  .index-nav .reserve-index-btn {
    height: 3.6rem;
    width: 13.5rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    padding: 0.9rem 3.6rem; }

  .pay-coffee {
    margin-bottom: 7rem; }
    .pay-coffee img {
      position: absolute;
      width: 58.3vw;
      left: -29%;
      max-width: 86rem; }
    .pay-coffee span {
      height: 57rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }

  .white-stripes {
    background: -webkit-gradient(linear, right top, left top, color-stop(51%, #ffffff), color-stop(49%, #5B4AE2));
    background: -webkit-linear-gradient(right, #ffffff 51%, #5B4AE2 49%);
    background: -o-linear-gradient(right, #ffffff 51%, #5B4AE2 49%);
    background: -webkit-gradient(linear, right top, left top, color-stop(51%, #ffffff), color-stop(49%, #5B4AE2));
    background: linear-gradient(to left, #ffffff 51%, #5B4AE2 49%); }
    .white-stripes .bot-mask {
      background-color: #ffffff;
      height: 20vh;
      width: 50vw;
      position: absolute;
      bottom: 0;
      z-index: -1; }

  .signup-section .left-signup {
    background-image: url("../media/desktop/images/mobile_signup.png");
    background-repeat: no-repeat;
    background-position: 20% 100%;
    padding-top: 3.4rem;
    min-height: 85rem; }
    .signup-section .left-signup h1 {
      font-size: 6.2rem;
      line-height: 7.4rem;
      margin-bottom: 1rem; }
    .signup-section .left-signup h2 {
      font-size: 3.3rem;
      line-height: 4rem;
      font-weight: 300; }
    .signup-section .left-signup img:nth-child(1) {
      margin-bottom: 10.2rem; }
  .signup-section .signup-success .icon-checked {
    font-size: 9rem; }
  .signup-section .signup-success h2 {
    font-size: 3.3rem;
    letter-spacing: -2.28px;
    line-height: 4rem;
    margin-top: 2.3rem;
    margin-bottom: 23.7rem; }
  .signup-section .signup-success a {
    font-size: 3.2;
    line-height: 3.2rem; } }

.user-edit .signup-section .right-signup h2 {
    margin-top: 2.3rem;
}
.user-name {
    color: #7e68ec;
    text-align: left;
    font-size: 3.7rem;
    margin-top: 10px;
    font-weight: 100;
}


.radio {
    margin: 0.5rem;
}
.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
    content: '';
    background: #f4f4f4;
    border-radius: 100%;
    border: 1px solid #b4b4b4;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    top: -0.2em;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
    background-color: #5f5fe2;
    box-shadow: inset 0 0 0 0px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: #5f5fe2;
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 0px #f4f4f4;
    border-color: #b4b4b4;
    background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
    margin-right: 0;
}
.user-profile-edit {
    padding-top: 16.4rem!important;
    padding-bottom: 10rem!important;
}
.forgot-pass {
    text-align: left;
    margin-top: 1.4rem;
    margin-bottom: 35px;
    font-size: 1.4rem;
}
.pass-send-btn {
    margin-top: 5.5em;
}
.button-link {
    width: 100%;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-radius: 30px;
    background-color: #5b4ae2;
    -webkit-box-shadow: -1px 2px 5px 0 rgba(142, 142, 142, 0.5);
    box-shadow: -1px 2px 5px 0 rgba(142, 142, 142, 0.5);
    font-size: 2rem;
    font-weight: 500;
    color: white!important;
    letter-spacing: -0.27px;
    line-height: 2.4rem;
    border: none;
}
/*# sourceMappingURL=style.css.map */
